.shop-card {
    padding: 50px;
}

.shop-card-title > h1 {
    font-size: 36px;
    font-weight: bold;
    border-bottom: 4px solid #8eafd8;
    width: 50%;
    padding-bottom: 15px;
}

.shop-card-body {
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
}

.portadaShop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-buttons {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.sinopsis{
    text-align: justify;
}

.capitalLetter {
    font-size: 24px;
    font-weight: 400;
}